* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul,
ol,
li {
   list-style: none;
   cursor: pointer;
}

a {
   text-decoration: none;
}

body {
   padding-bottom: 100px;
}

/* =================================================== */

[class*="__container"] {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

/* =================================================== */


header {
   width: 100%;
   background-color: #F0F0F0;
}

.header__container {
   display: flex;
   height: 70px;
   align-items: center;
   justify-content: space-between;
}

ul {
   display: flex;
   gap: 21px;
}

li a {
   color: #000;
}

.exit {
   cursor: pointer;
}

.email {
   display: flex;
   gap: 20px;
}

.user {
   margin-top: 44px;
}

.user a {
   display: block;
   margin-top: 11px;
   text-decoration: none;
   margin-bottom: 74px;
}

.block_cards {
   margin-bottom: 21px;
   display: flex;
   gap: 24px;
   flex-wrap: wrap;
}

.wallets span {
   display: block;
   margin-bottom: 21px;
   font-size: 24px;
}

.card {
   width: 282px;
   height: 160px;
   padding: 19px 23px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 15px;
   color: white;
   background-image: linear-gradient(to right, #D7816A, #BD4F6C);
}

.card:nth-child(2) {
   background-image: linear-gradient(to right, #5F0A87, #A4508B);
}

.card:nth-child(3) {
   background-image: linear-gradient(to right, #20BF55, #01BAEF);
}

.card:nth-child(4) {
   background-image: linear-gradient(to right, #380036, #0CBABA);
}

.visa {
   font-size: 24px;
}

.btn {
   padding: 15px 150px;
   border: none;
   border-radius: 10px;
   background-color: #0047FF;
   margin-top: 44px;
   color: white;
   font-size: 22px;
}

/* MODAL */

.modalBg, .modal__bg{
   display: none; 
   opacity: 0;
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0,0,0,.5);
   backdrop-filter: blur(10px);
}

.modal, .modal__trz{
    display: none; 
    opacity: 0; 
    width: 1000px;
    height: 700px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.2);
    transition: .5s ease;
    border-radius: 10px;
}

.box{
   width: 600px;
   margin: auto;
   margin-top: 200px;
}

.close{
   height: 50px;

}

.box h1{
   font-size: 42px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 85px;
}



select, input{
   width: 438px;
   height: 56px;
   border-radius: 10px;
   margin-top: 10px;
   margin-left: 75px;
   padding-left: 10px;
}

.inp-btn{
   background-color: #0047FF;
   color: white;
   border: none;
   width: 438px;
   height: 56px;
   border-radius: 10px;
   margin-top: 10px;
   margin-left: 75px;
   font-size: 18px;
}

/* ТРАНЗАКЦИИ */

.add_trnz{
   width: 400px;
   height: 56px;
   border-radius: 10px;
   background-color: green;
   border: none;
   color: white;
   font-size: 18px;
   display: block;
   margin-top: 20px;
}

.box2{
   width: 700px;
   margin-top: 100px;
   margin-left: 180px;
}

.addtrza{
   font-size: 48px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 20px;
   margin-bottom: 10px;
}

.inp{
   border: 1px solid;
}

.wrapper__container{
   margin-top: 100px;
}

.cont{
   width: 1200px;
   height: 1000px;
   margin: auto;
   margin-top: 25px;
}

.cont-top{
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.cont-left{
   width: 30%;
   display: flex;
   justify-content: space-between;
}
.cont-right{
   width: 50%;
   display: flex;
   justify-content: space-between;
}

.cont-left2{
   width: 29%;
   display: flex;
   justify-content: space-between;
}

.cont-right2{
   width: 50%;
   display: flex;
   justify-content: space-between;
}

.tp2{
   margin-top: 15px;
}

.totl{
   width: 85px;
   display: flex;
  justify-content: space-between;
}